body { 
  font-family: sans-serif; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: black; 
  height: 100vh;
  margin: 0; 
  overflow: hidden; /* - scrollbar */
}

.container {
  display: flex;
  flex-direction: row;
}

.calculator { 
  position: relative;
  background-color: #ecf0f1; 
  padding: 20px; 
  border-radius: 10px;
  width: 250px; 
}

.advanced-window.open + .calculator {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#display { 
  width: 100%; 
  height: 50px; 
  margin-bottom: 15px; 
  font-size: 24px; 
  text-align: right; 
  border: 1px solid #bdc3c7; 
  border-radius: 5px; 
  box-sizing: border-box; 
  padding: 5px; 
}

#display::placeholder {
  color: #000000;
  opacity: 1;
}

.buttons { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 10px; 
}

.transfer-function,
.zero {
  grid-column: span 2;
}

.equal {
  grid-column: span 2;
  background-color: #e74c3c;
  color: white;
}

button { 
  padding: 15px 0; 
  font-size: 18px; 
  cursor: pointer; 
  border: none; 
  border-radius: 5px; 
  background-color: #bdc3c7; 
  transition: background-color 0.2s; 
}

button:hover { 
  background-color: #95a5a6; 
}

.operator { 
  background-color: #e74c3c; 
  color: white; 
}

.operator:hover { 
  background-color: #c0392b; 
}

.clear { 
  grid-column: span 2; 
  background-color: #3498db; 
  color: white; 
}

.clear:hover { 
  background-color: #2980b9; 
}

.opener {
  position: absolute;
  top: 3px;
  left: 10px;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  background: none;
  border: none;
}

.opener:hover {
  background: none;
} 

.advanced-window {
  background-color: #ecf0f1; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; 
  width: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 10px; 
  align-content: start;
}

.advanced-window.open {
  width: 250px;
  padding: 20px;
  opacity: 1;
}